@model WebStore.ViewsModels.EmployeeView

@{
    ViewData["Title"] = "Информация о сотруднике";
}

<h1>Информация о сотруднике</h1>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Model.FirstName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd>
            @Model.SurName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd>
            @Model.Patronymic
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Model.Age
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd>
            @Model.DateBirth.ToLongDateString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEmployment)
        </dt>
        <dd>
            @Model.DateEmployment.ToLongDateString()
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>