@model IEnumerable<WebStore.ViewsModels.EmployeeView>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Id)</td>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.DisplayNameFor(model => model.SurName)</td>
                <td>@Html.DisplayNameFor(model => model.Patronymic)</td>
                <td>@Html.DisplayNameFor(model => model.Age)</td>
                <td>@Html.DisplayNameFor(model => model.DateBirth)</td>
                <td>@Html.DisplayNameFor(model => model.DateEmployment)</td>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Patronymic</td>
                <td>@item.Age</td>
                <td>@item.DateBirth.ToLongDateString()</td>
                <td>@item.DateEmployment.ToLongDateString()</td>
                <td>@Html.ActionLink("Детали", "Details", new { id = item.Id})</td>
            </tr>
        }
    </table>

</body>
</html>

